/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 600;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts .post {
  margin: 100px 0 50px;
}

.posts .post:first-child {
  margin: 50px 0;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/

.archive h2 {
  text-align: center;
}

.archive h3 {
  margin: 50px 0 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {
  text-align: center;
  font-size: 80%;
  line-height: 140%;
  margin: 0 0 50px;
}

.site .header h1 {
  font-size: 200%;
  margin: 1em 0;
}

.site .header .contact {
  color: #888;
}

.site .header .contact a {
  color: #000;
}

.site .header .contact a:hover {
  text-decoration: underline;
}

.site .nav {
  padding: 8px;
}

.site .footer .contact {
  padding: 8px;
}

.site .header .me {
  display: block;
  margin: 0 auto;
}

.site .header a {
  text-decoration: none;
}

.site .header h1.title {
  margin: 24px;
}

.site .header h1.title a {
  color: #000;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .footer .contact {
  float: right;
}

.site .footer .contact a.extra {
  color: inherit;
  text-decoration: none;
}

.site .footer a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .footer a.extra:first-child {
  margin-left: 0;
}

.site .footer a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post > h2 {
  font-size: 160%;
  text-align: center;
}

.post > h2 a {
  text-decoration: inherit;
  color: inherit;
}

.post .body h1 {
  margin: 1.5em 0 .8em;
  font-size: 140%;
}

.post .body h2 {
  margin: 1.5em 0 .8em;
  font-size: 120%;
}

.post .meta {
  text-align: center;
}

.post .body blockquote {
  margin: 0 3em;
  font-style: italic;
}

.post .body pre {
  padding: 6px 8px;
  line-height: 140%;
  background-color: #f4f4f4;
}

.post .body ul, .post .body ol {
  margin-left: 1.35em;
}

.post .body code {
  padding: 0 3px;
}

.post .body pre code {
  border: none;
  padding: 0;
  margin: 0;
}

/* terminal */
.post .body pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post .body pre.terminal code {
  background-color: #333;
}
