<img class="me" src="/writings/images/paul-small.jpg" />
<ul class="social">
  <li class="twitter"><a href="https://twitter.com/paulrosania">Twitter</a></li>
  <li class="github"><a href="https://github.com/paulrosania">Github</a></li>
  <li class="quora"><a href="http://www.quora.com/Paul-Rosania">Quora</a></li>
  <li class="linkedin"><a href="http://www.linkedin.com/in/paulrosania">LinkedIn</a></li>
  <li class="rss"><a href="{{ site.subscribe_rss }}">RSS</a></li>
</ul>
<p>
  Hi! I'm Paul Rosania.
</p>
<p>
  I build things for a stealth startup in Palo Alto.
</p>
<p>
  My focus is consumer internet growth engineering.
</p>
<p>
  Let's talk! Email me: paul.rosania@gmail.com
</p>
<div class="copyright">&copy; 2012 Paul Rosania</div>
